<!DOCTYPE html>
<html>
	<head>
		<title> Nostalgia MTG </title>
	    <script type="text/javascript" src="javascripts/pack.js"></script>
		<script src="javascripts/AllSets.js"></script>   
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="javascripts/bootstrap.min.js"></script>
	    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	    <style>
	    	input[type=text]{
	    		width: 50px;
	    	}
	    	img { cursor: pointer; }

	    </style>
	    <title> Nostalgia MTG </title>
	</head>
	<body onload="preprocess_set_codes()">

	<h1> NostalgiaMTG </h1>
	<p>
	A Magic the Gathering Pack Opening Simulator
	</p>
	<form name="openingStyle">
		<label>
			<input type="radio" name="options" value="insta" checked> Insta Pack Opening
		</label>
		<label>
			<input type="radio" name="options" value="delayed"> Delayed Pack Opening
		</label>
		<label>
			<input type="radio" name="options" value="manual"> Manual Pack Opening
		</label>
	</form>
	<br />
	<div ng-app="setSelector" ng-controller="myCtrl">
		<label>
			Set Name:	
		</label>
  		<input type="text" required ng-trim="false" id="SetName" ng-model="set_name.code">
  		<br />
  		<br />
		<label> Select a set </label>
		<select ng-init="set_name = setnames[0]" ng-model="set_name" ng-options="set_name 
		as set_name.name for set_name in setnames">
		</select>
	</div>
	<!--<img src="http://i.tcgplayer.com/127173_200w.jpg"> </img>
	<br /> -->
	<script>
	var app = angular.module('setSelector', []);
	app.controller('myCtrl', function($scope) {
	    $scope.setnames = 
	    [
	    {
	    	"name" : "Amonkhet",
	    	"code" : "AKH",
	    },
	    {
	    	"name" : "Aether Revolt",
	    	"code" : "AER",
	    },
	    {
	    	"name" : "Kaladesh",
	    	"code" : "KLD",
	    },
	    {
	    	"name" : "Eldritch Moon",
	    	"code" : "EMN",
	    },
	    {
	    	"name" : "Shadows over Innistrad",
	    	"code" : "SOI",
	    },
	    {
	    	"name" : "Oath of the Gatewatch",
	    	"code" : "OGW",
	    },
	    {
	    	"name" : "Battle for Zendikar",
	    	"code" : "BFZ",
	    },
	    {
	    	"name" : "Magic Origins",
	    	"code" : "ORI",
	    },
	    {
	    	"name" : "Modern Masters 2",
	    	"code" : "MM2",
	    },
	    {
	    	"name" : "Dragons of Tarkir",
	    	"code" : "DTK",
	    },
	    {
	    	"name" : "Fate Reforged",
	    	"code" : "FRF",
	    },
	    {
	    	"name" : "Khans of Tarkir",
	    	"code" : "KTK",
	    },
	    {
	    	"name" : "Magic 2015",
	    	"code" : "M15",
	    },
	    {
	    	"name" : "Conspiracy",
	    	"code" : "CNS",
	    },
	    {
	    	"name" : "Journey into Nyx",
	    	"code" : "JOU",
	    },
	    {
	    	"name" : "Born of the Gods",
	    	"code" : "BNG",
	    },
	    {
	    	"name" : "Theros",
	    	"code" : "THS",
	    },
	    {
	    	"name" : "Magic 2014",
	    	"code" : "M14",
	    },
	    {
	    	"name" : "Innistrad",
	    	"code" : "ISD",
	    },
	    {
	    	"name" : "Scars of Mirrodin",
	    	"code" : "SOM",
	    }
	    ];
	});
	</script>
	<!-- Create a div dynamically with pack info -->
	<button onclick="open_pack()""> Open Pack </button>
	<br />
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=425901&type=card" 
	onclick="process_click(1)" id="slot1"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=417683&type=card" 
	onclick="process_click(2)" id="slot2"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=383328&type=card" 
	onclick="process_click(3)" id="slot3"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=413599&type=card" 
	onclick="process_click(4)" id="slot4"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=383180&type=card" 
	onclick="process_click(5)" id="slot5"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=376461&type=card" 
	onclick="process_click(6)" id="slot6"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=429871&type=card" 
	onclick="process_click(7)" id="slot7"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=429862&type=card" 
	onclick="process_click(8)" id="slot8"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=429880&type=card" 
	onclick="process_click(9)" id="slot9"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=429877&type=card" 
	onclick="process_click(10)" id="slot10"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=429876&type=card" 
	onclick="process_click(11)" id="slot11"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=429863&type=card" 
	onclick="process_click(12)" id="slot12"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=425888&type=card" 
	onclick="process_click(13)" id="slot13"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=239961&type=card" 
	onclick="process_click(14)" id="slot14"> </img>
	<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=425809&type=card" 
	onclick="process_click(15)" id="slot15"> </img>
	<br />
	<br />
</html>